{% load static %}
{% load i18n %}
<div class="section imgBanners pb-0">
    <div class="imgBnrOuter">
        <div class="container banner-all-image" style="width: 100%; margin-top: 0;">
            <div class="row img-grid-banner1">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 image-banner-1">
                    <div class="inner topright">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/Ipad-6.png'%}" src="{% static 'assets/rasimlar/Ipad-6.png'%}" alt="Ipad Pro" title="Ipad Pro" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl">
                                {% trans "Shop Apple"%}<h5>{% trans "Ipad Pro"%}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 image-banner-2">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 image-banner-3">
                            <div class="inner topright">
                                <a onclick="window.location.href='http://127.0.0.1:8000/filter_products/I7JWMJQB/'">
                                    <img data-src="{% static 'assets/rasimlar/iphone-15.png'%}" src="{% static 'assets/rasimlar/iphone-15.png'%}" alt="Mobile" title="Mobile" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                                    <div class="ttl">
                                        {% trans "Shop Apple"%} <h5>{% trans "Mobile"%}</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="inner btmleft">
                                <a href="#">
                                    <img data-src="{% static 'assets/rasimlar/watch.png'%}" src="{% static 'assets/rasimlar/watch.png'%}" alt="Smart Watch" title="Smart Watch" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                                    <div class="ttl">
                                       {% trans " Shop Apple"%} <h5>{% trans "Smart Watch"%}</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                            <div class="inner center">
                                <a href="#">
                                    <img data-src="{% static 'assets/rasimlar/macbook.png'%}" src="{% static 'assets/rasimlar/macbook.png'%}" alt="Macbook Pro" title="Macbook Pro" class="img-fluid blur-up lazyload macbook" loading="lazy" style="object-fit: cover;"/>
                                    <div class="ttl">
                                        {% trans "Shop Apple"%} <h5>{% trans "Macbook Pro"%}</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row img-grid-banner2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="inner topleft">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/fold.png'%}" src="{% static 'assets/rasimlar/fold.png'%}" alt="Mobile" title="Mobile" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl">
                                {% trans "Shop Samsung"%} <h5>{% trans "Mobile"%}</h5>
                            </div>
                        </a>
                    </div>
                    <div class="inner topright">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/laptop.png'%}" src="{% static 'assets/rasimlar/laptop.png'%}" alt="Laptop" title="Laptop" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl">
                                {% trans "Shop Samsung"%} <h5>{% trans "Laptop"%}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 image-banner-2">
                    <div class="inner topleft">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/tabs444.png'%}" src="{% static 'assets/rasimlar/tabs444.png'%}" alt="Galaxy Tab" title="Galaxy Tab" class="img-fluid blur-up lazyload samsung-tab" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl">
                                {% trans "Shop Samsung"%} <h5>{% trans "Galaxy Tab"%}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row img-grid-banner3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 image-banner-2">
                    <div class="inner center">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/acc.png'%}" src="{% static 'assets/rasimlar/acc.png'%}" alt="Accessories" title="Accessories" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl text-center">
                                {% trans "All Accessories"%} <h5>{% trans "Shop Now"%}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="inner center">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/HP-1.png'%}" src="{% static 'assets/rasimlar/HP-1.png'%}" alt="Hp Laptop" title="Hp Laptop" class="img-fluid blur-up lazyload" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl">
                                {% trans "Shop HP"%}<h5>{% trans "Hp Laptop"%}</h5>
                            </div>
                        </a>
                    </div>
                    <div class="inner topright">
                        <a href="#">
                            <img data-src="{% static 'assets/rasimlar/xiomi-3.png'%}" src="{% static 'assets/rasimlar/xiomi-3.png'%}" alt="Xiomi" title="Xiomi" class="img-fluid blur-up lazyload xiaomi" loading="lazy" style="object-fit: cover;"/>
                            <div class="ttl">
                                {% trans "Shop Xiaomi"%} <h5>{% trans "Xiaomi Mobile"%}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @media only screen and (min-width: 1350px) {
        .banner-all-image {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
