{% load static %}
{% load i18n %}
<div class="section logo-section d-none d-lg-block" style="padding: 0; background-color: black;">
    <div class="container-fluid" style="width: 100%; padding-right: 0; padding-left: 0;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="logo-bar">
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.apple.com/'" src="{% static 'assets/document/images/brands/Apple.png'%}" alt="Apple" title="Apple" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.mi.com/global/'" src="{% static 'assets/document/images/brands/Xiaomi.png'%}" alt="Xiaomi" title="Xiaomi" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.samsung.com/'" src="{% static 'assets/document/images/brands/Samsung.png'%}" alt="Samsung" title="Samsung" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.hp.com/'" src="{% static 'assets/document/images/brands/Hp.png'%}" alt="Hp" title="Hp" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.lg.com/'" src="{% static 'assets/document/images/brands/LG.png'%}" alt="LG" title="LG" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.amd.com/'" src="{% static 'assets/document/images/brands/Amd.png'%}" alt="Amd" title="Amd" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://epson.com/'" src="{% static 'assets/document/images/brands/Epson.png'%}" alt="Epson" title="Epson" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.intel.com/'" src="{% static 'assets/document/images/brands/Intel.png'%}" alt="Intel" title="Intel" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.sony.com/'" src="{% static 'assets/document/images/brands/Sony.png'%}" alt="Sony" title="Sony" loading="lazy"/>
                    </div>
                    <div class="logo-bar__item">
                        <img class="img-fluid" onclick="window.location.href='https://www.canon.com/'" src="{% static 'assets/document/images/brands/Canon.png'%}" alt="Canon" title="Canon" loading="lazy"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>